@model SimpleMVCApp.Models.User

<div>
    <h1>Add user</h1>
</div>

@*<form method="post" action="/users/createuser2">
    <div>
        <label for="Name">Name</label>
        <input type="text" name="Name" />
    </div>
    <div>
        <label for="Email">Email</label>
        <input type="text" name="Email" />
    </div>
    <input type="submit" />
</form>*@

@using (Html.BeginForm("CreateUser2", "Users", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>

    <input type="submit" />
}