<!DOCTYPE html>
<html>

<head>
    <title>
        Home Page
    </title>
</head>

<body>
<h1>Home Page</h1>

@{
    <div>
        Date: @DateTime.Now
        
        @{
            var x = 100;
            var y = 200;

            var z = x + y;

            <div>@z</div>
        }
        
    <div>
        @ViewBag.User
    </div>

    </div>
}

</body>

</html>